html {
  height: 100%;
  background: #151515;
}

.site-logo {
  display: inline-block;
  padding-top: 15px;
  padding-left: 10px;
}

.footer_element{
  position: absolute;
  bottom: 0px;
  padding: 9px;
}
.Mainbackgroundimg{
  position: absolute;
  right: 0px;
  bottom: 70px;
}
.Mianside_menubar{
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 30px;
}
